@model IEnumerable<SystemKadr.Models.Pracownicy>
@{ 
    if (Session["Identyfikator"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
@{
    ViewBag.Title = "Pracownicy";
}

<h2>Lista pracownikow</h2>

<p>
    @Html.ActionLink("Dodaj pracownika", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Imie
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Pesel
        </th>
        <th>
            Stawka zaszeregowana
        </th>
        <th>
            Rodzaj umowy
        </th>
        <th>
            Data podjecia pracy
        </th>
        <th>
            Miejscowosc
        </th>
        <th>
            Rola
        </th>
        <th>
            Wydzial
        </th>
        <th>
            Opcje
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PESEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stawka_zaszeregowana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rodzaj_umowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_podjecia_pracy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miejscowosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Rola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wydzialy.Wydzial)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Identyfikator }) |
            @Html.ActionLink("Szczegoly", "Details", new { id = item.Identyfikator }) |
            @Html.ActionLink("Usun", "Delete", new { id = item.Identyfikator })
        </td>
    </tr>
}

</table>
