@model SystemKadr.Models.Godziny_przepracowane

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Godziny_przepracowane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godziny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godziny)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pracownicy.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pracownicy.Imie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_wpisu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
